#container {

    margin: 0 13%;
}

#top {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 180%;
    font-weight: 600;
    /* text-shadow: 0 0 5px white, 0 0 10px rgb(0, 255, 157),0 0 white; */
    -webkit-text-stroke: 1px rgb(0, 255, 157);
    stroke-width: 5px;
    border-radius: 10px;
    border: 5px solid rgb(0, 255, 157);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#infocontainer {
    border: 2px solid rgb(0, 255, 157);
    border-radius: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    
}
#infoheader{
    background:rgb(0, 255, 157);
    font-weight: 700;
    color: white;
}
#tablediv{
    margin: 10px;
    text-align: center;
    padding: 5px;

}
   

#traintable{
    width: 100%;
    border-collapse: collapse;
   word-wrap: break-word;
   padding: 5px;
  
}


td,th{
    display: inline-block;
    width: 16%;
    padding: 5px;
}
td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.459);

}
th{
    border-bottom: 2px solid rgba(128, 128, 128, 0.459);
}


#formcontainer {
    border: 2px solid rgb(0, 255, 157);
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
   
}
#formcontent > div{
    padding: 10px 12px 8px ;
}

#formheader {
    background-color: rgb(0, 255, 157);
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 700;
    text-align: left;
    
}

input {
    position: relative;
    margin-bottom: 10px;
    width: 98%;
    height: 20px;
    border-radius: 5px;
}

#mybutt{
    padding: 0 !important;
    flex: 0 0 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(0, 255, 157);
    font-weight: 700;
    color: white;

}

#holder{
    border: 2px solid rgb(0, 255, 157);
    border-radius: 5px;
}