#container {

    margin: 0 13%;
}

#top {
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    font-size: 180%;
    font-weight: 600;
    /* text-shadow: 0 0 5px white, 0 0 10px red,0 0 white; */
    -webkit-text-stroke: 1px red;
    stroke-width: 5px;
    border-radius: 10px;
    border: 5px solid red;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

#infocontainer {
    border: 2px solid red;
    border-radius: 5px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    
}
#infoheader{
    background:red;
    font-weight: 700;
}
#tablediv{
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}
   

#traintable{
    width: 100%;
    border-collapse: separate;
    border: 2px solid black;
   word-wrap: break-word;
   padding: 5px;
}
#traintable > td,th{
    display: inline;
    margin: 5px 10px;
    padding: 5px;
    border: 2px solid black;
    background: purple;

}

#formcontainer {
    border: 2px solid red;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
   
}
#formcontent > div{
    padding: 10px 12px 8px ;
}

#formheader {
    background-color: red;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 700;
    text-align: left;
    
}

input {
    position: relative;
    margin-bottom: 10px;
    width: 98%;
    height: 20px;
    border-radius: 5px;
}

#mybutt{
    padding: 0 !important;
    flex: 0 0 10%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: red;
    font-weight: 700;

}

#holder{
    border: 2px solid red;
    border-radius: 5px;
}